* {
  text-align: center;
  color: white;
  background-color: #282c34;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

button{
  background-color: white;
  color: #282c34;
  width: 110px;
  height: 35px;
  border: 1px solid #282c39;
  padding: 2px;
  margin-bottom: 15px;
  font-size: medium;
  font-weight: bold;
  border-radius: 4px;
  text-align: center;
  transition: 0.3s
}

input{
  font-size: 16px;
  width: 250px;
  height: 30px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid lightgray;
  margin: 0px 0px 10px 5px;
}